.buttonBasic {
  color: var(--white);
  border: 0;
  cursor: pointer;
  font-size: 22px;
  padding: calc(4 * var(--spacing)) calc(8 * var(--spacing));
  border-radius: 12px;
  box-shadow: 0 0 8px 0 #aaaaaa44;
  background-color: var(--tinyGigsPink);
}

.buttonBasic:disabled {
  pointer-events: none;
}

.buttonBasic:focus-visible {
  box-shadow: 0 0 0 3px var(--hoverColor);
}
