.App {
  text-align: center;
}

h1 {
  /*font-size: 20px;*/
}

/*Not sure how this would ever override - follow up in digi-merch-ui again - only seems to be picking up changes in ButtonBasic css*/
.buttonBasic {

}
