/* Original styles from create-react-app */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Added styles from digi-merch-ui */
/** {*/
/*  box-sizing: border-box;*/
/*}*/

:root {
  --white: #fff;
  --black: #000;
  --light-black: #141414;
  --dark-grey: #54565a;
  --hoverColor: #5aa5ff;
  --tinyGigsPink: #c71f86;

  --spacing: 4px;

/*  --selectedArea: #B9D6FC;*/
  /*  --spacing-multiplier: 8;*/

/*  --grid-width: calc(100% / 12);*/
  /*  --max-width: 1124px;*/
  /*  --min-width: 644px;*/

/*  --font-default: GillSansNovaforJL-Medium, sans-serif;*/
/*  --font-light: GillSansNovaforJL-Light, sans-serif;*/
/*  --font-medium: var(--font-default);*/
/*}*/

/*body {*/
/*  overflow: auto;*/
/*  background-color: var(--grey3);*/
/*  font-family: var(--font-light)*/
}

body,
input,
select,
button {
/*  margin: 0;*/
/*  font-weight: 500;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
  font-size: 16px;
/*  font-family: inherit;*/
/*  outline: 0;*/
}

/*input {*/
/*  border: 1px solid var(--grey8);*/
/*  padding: calc(2 * var(--spacing)) calc(2 * var(--spacing));*/
/*}*/

/*input:hover,*/
/*input:focus,*/
/*input:active {*/
/*  border: 1px solid var(--black);*/
/*}*/

/*select {*/
/*  background-color: var(--grey3);*/
/*  border-color: var(--grey3);*/
/*  text-overflow: ellipsis;*/
/*  padding: calc(2 * var(--spacing)) calc(4 * var(--spacing)) calc(2 * var(--spacing)) calc(2 * var(--spacing));*/
/*}*/

/*select:hover,*/
/*select:focus,*/
/*select:active {*/
/*  border: 1px solid var(--black);*/
/*}*/

/*option {*/
/*  font-family: var(--font-light);*/
/*  background-color: var(--white);*/
/*}*/

/*hr {*/
/*  border-width: 1px 0 0 0;*/
/*  border-color: var(--grey4);*/
/*}*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4 {*/
/*  margin: 0;*/
/*  line-height: 1;*/
/*  font-weight: 500;*/
/*}*/

h1 {
  font-size: 20px;
  line-height: 22px;
}

/*th {*/
/*  font-weight: normal;*/
/*  font-family: var(--font-medium);*/
/*}*/

/*td {*/
/*  font-family: var(--font-light);*/
/*}*/

/*.bold-capitalize {*/
/*  text-transform: capitalize;*/
/*  font-weight: bold;*/
/*}*/

/*section {*/
/*  padding-bottom: calc(6 * var(--spacing));*/
/*}*/

/*section:not(:first-child) {*/
/*  padding-top: calc(6 * var(--spacing));*/
/*  border-top: 1px solid var(--grey4);*/
/*}*/

/*.product-merch-table {*/
/*  font-family: var(--font-light);*/
/*  width: 100%;*/
/*  border-radius: 12px;*/
/*  box-shadow: 0 0 5px 0 #aaaaaa44;*/
/*  background-color: var(--white);*/
/*  border-spacing: 0;*/
/*}*/

/*.product-merch-table tbody {*/
/*  border-top: 1px solid var(--black);*/
/*}*/

/*.product-merch-table th {*/
/*  font-family: var(--font-medium);*/
/*  font-weight: normal;*/
/*}*/

/*.product-merch-table thead th {*/
/*  padding-top: calc(6 * var(--spacing));*/
/*}*/

/*.product-merch-table th,*/
/*.product-merch-table td {*/
/*  padding: calc(4 * var(--spacing)) calc(6 * var(--spacing));*/
/*}*/

/*.product-merch-table tbody td {*/
/*  border-top: 1px solid var(--grey4);*/
/*}*/
